<app-header></app-header>

<section>     
    <main class="login">
        <div class="login_container">
            <h1 class="login_title">Login</h1>

            <form action="" class="login_form" (ngSubmit)="receberDados()">
                <label for="nome">E-mail</label>
                <input id="email" class="login_input" type="email" placeholder="Digite seu e-mail" [(ngModel)]="userModel.email" [ngModelOptions]="{standalone: true}" >

                <label for="nome">Senha</label>
                <input id="senha" class="login_input" type="password" placeholder="Digite sua senha" [(ngModel)]="userModel.password" [ngModelOptions]="{standalone: true}" >

                <button class="login_submit" type="submit" (click)="receberDados()">Login</button>
                <a class="login_reset" href="#">Esqueci a senha</a>
            </form>
            <p id="mensagem" *ngIf=" mensagem != '' "> {{mensagem}} </p>
        </div>

    </main>
</section>