
.login {
    font-size: 100%;
    background: linear-gradient(177.55deg, #488FAD -19.96%, #1B264F 119.96%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #1B264F;
    font-weight: 800;
    font-size: 30px;
}

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_container {
    min-height: 300px;
    width: 400px;

    background-color: #488FAD;
    mix-blend-mode: normal;
    border-radius: 41px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);

    box-sizing: border-box;
    padding: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_title {
    font-family: 'Montserrat', sans-serif;
    color: #1B264F;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 16px;
}

.login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.login_input {
    width: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    padding: 6px 31px;
    margin-bottom: 16px;
    box-sizing: border-box;

    background: #60A4C1;
    
    font-family: 'Montserrat', sans-serif;
    color: #1B264F;
    font-weight: 500;
    font-size: 14px;

    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: #3C497A;
    font-size: 12px;

}

label {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 6px;
}

.login_submit {
    padding: 8px 100px;
    background-color: #1B264F;
    border: none;
    box-shadow: -9px 12px 20px rgba(0, 0, 0, 0.16);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    outline: none;

    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 800;

}

.login_submit:hover {
    border: 1px solid #1B264F;
    background-color: #FFFFFF;
    color: #1B264F;
}

.login_reset {
    font-family: 'Montserrat', sans-serif;
    color: #3C497A;
    font-weight: 500;
    font-size: 12px;
    padding-top: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login_reset:hover {
    color: #1B264F;
}

#mensagem {
    font-family: 'Montserrat', sans-serif;
    color: #851A00;
    font-weight: 500;
    font-size: 10px;
    padding-top: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
}
