<div class="menu-topo">
    <a href="#" class="logo"><img src="/assets/images/logo-img/logo.svg" alt="Logo Game Mania" width="50px" height="50px"></a>

    <nav class="menu-nav">
        <div class="menu-nav1">
            <div class="linha">
                <a class="menu-navegacao" href="#categorias">CATEGORIAS</a>
                <a class="menu-navegacao" href="#lancamentos">LANÇAMENTOS</a>
                <a class="menu-navegacao" href="#destaques">DESTAQUES</a>
            </div>

            <a class="nav-icons"  href="/login" target="_blank"><img src="/assets/images/icons/Person.svg" alt="Faça o seu login" width="25px" height="25px" title="Login"></a>
            <a class="nav-icons" href="#"><img src="/assets/images/icons/Fav.svg" alt="Seus itens favoritos" width="25px" height="25px" title="Favoritos"></a>
            <a class="nav-icons" href="#"><img src="/assets/images/icons/ShoppingCart.svg" alt="Seu carrinho" width="25px" height="25px" title="Carrinho"></a>
        </div>

        <div class="hamburguer">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

    </nav>
</div>
